In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('breast-cancer-wisconsin.data.txt')

In [3]:
df.head(5)

,id,clump_thickness,uni_cell_size,uni_cell_shape,marg_adhesion,epithelial_size,bare_nuclei,bland_chromatin,Normal_Nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [4]:
df['bare_nuclei'] = pd.to_numeric(df['bare_nuclei'],errors='coerce')

In [5]:

df.isna().sum()

id                  0
clump_thickness     0
uni_cell_size       0
uni_cell_shape      0
marg_adhesion       0
epithelial_size     0
bare_nuclei        16
bland_chromatin     0
Normal_Nucleoli     0
mitoses             0
class               0
dtype: int64

In [6]:
df = df.dropna(how='any')

In [7]:
df.isna().sum()

id                 0
clump_thickness    0
uni_cell_size      0
uni_cell_shape     0
marg_adhesion      0
epithelial_size    0
bare_nuclei        0
bland_chromatin    0
Normal_Nucleoli    0
mitoses            0
class              0
dtype: int64

In [8]:
df.head()

,id,clump_thickness,uni_cell_size,uni_cell_shape,marg_adhesion,epithelial_size,bare_nuclei,bland_chromatin,Normal_Nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1.0,3,1,1,2
1,1002945,5,4,4,5,7,10.0,3,2,1,2
2,1015425,3,1,1,1,2,2.0,3,1,1,2
3,1016277,6,8,8,1,3,4.0,3,7,1,2
4,1017023,4,1,1,3,2,1.0,3,1,1,2

In [9]:
df = df.drop(['id'], axis=1)

In [10]:
X = np.array(df.drop((['class']), 1))

In [11]:
y = np.array(df['class'])

In [12]:
X = X.astype('int32')

In [13]:
X

array([[ 5,  1,  1, ...,  3,  1,  1],
       [ 5,  4,  4, ...,  3,  2,  1],
       [ 3,  1,  1, ...,  3,  1,  1],
       ...,
       [ 5, 10, 10, ...,  8, 10,  2],
       [ 4,  8,  6, ..., 10,  6,  1],
       [ 4,  8,  8, ..., 10,  4,  1]])

In [14]:
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=21)
knn = KNeighborsClassifier(n_neighbors=8)
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=8, p=2,
                     weights='uniform')

In [15]:
 y_pred = knn.predict(X_test)

In [16]:
 knn.score(X_test, y_test)

0.9707317073170731

In [17]:
example = np.array([8,3,1,2,3,1,4,4,4])
example = example.reshape(1, -1)
pred = knn.predict(example)
print("Class:"+ str(pred))

Class:[2]